.ErrorNotification {
    position: absolute;
    background-color: #e50000;
    text-align: center;
    top: 20;
    left: 0;
    right: 0;
    margin: 10;
    border: 5px #e50000 solid;
    border-radius: 10px;

    font-size:11px;

    /* Error message will appear on top */
    z-index: 10;
}

.ErrorNotification .title {
    font-size: 25px;
}

.ErrorNotification .subtext {
    font-size: 14px;
    color: white;
}


.ErrorNotification .feedback {
    background-color: #cc0000;
    
    border-radius: 10px;
    border-style: none;
    width: 250px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
}

.ErrorNotification .btn {
    background-color: #cc0000;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.ErrorNotification .btn:hover {
    background-color: #b20000;
}