.note-drag-handle {
  width: 100%;
  height: 20px;
  background-color: blue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: move;
}

.note-drag-handle:hover {
  filter: brightness(95%)
}

.title-bar {
  position: absolute;
  width: 100%;
  height: 60px;

  background-color: #35a1ec;
}

.title-input::placeholder {
  color: #f4f4f4;
}

.title-input:focus {
  outline: none;
}

.title-input {
  position: absolute;
  box-sizing: border-box;
  height: 60px;
  width: calc(100% - 60px);
  font-size: 17px;
  background-color: transparent;
  padding-left: 20px;
  color: #f4f4f4;
  border: none;
  user-select: none;
}

.nav-bar-item-color {
  position: absolute;
  top: 18px;
  right: 36px;
  color: white;
}

.nav-bar-item-delete {
  position: absolute;
  size: 25px;
  top: 18px;
  right: 16px;
  color: white;
}
